<!DOCTYPE html>
<html>
<head>
	<title>WebCharts 1.0 by gm: {{ comic['id'] }} {{ comic['title'] }}</title>
	<link rel="stylesheet" type="text/css" href="/static/mainsite.css">
	<!-- <link rel="alternate" type="application/rss+xml"  href="/rss.xml"> -->
</head>
<body>

<div class="header">WebCharts 1.0 <span class="smaller">by <a class="headlink" href="http://gm.stackunderflow.com/">gm</a></span></div>
<br/>
<div class="central">
	<p class="description">{{ comic['id'] }}: {{ comic['title'] }}</p>
	<span class="arrows">
		<table class="arrows">
		<tr>
			<td><p class="left">
			{% if comic['id'] > 0 %}
				<a href="/comic/{{ comic['id'] - 1}}">&lt;- Prev</a>
			{% else %}
				&lt;- Prev
			{% endif %}
			</p></td>
			<td><p class="right">
			{% if comic['id'] < (numcomics - 1) %}
				<a href="/comic/{{ comic['id'] + 1}}">Next -&gt;</a>
			{% else %}
				Next -&gt;
			{% endif %}
			</p></td>
		</tr>
		</table>
	</p>
	
	<a {% if comic['id'] < (numcomics - 1) %} href="/comic/{{ comic['id'] + 1}}" {% endif %}><img class="image" src="/static/img/{{ comic['filename'] }}" title="does this look like xkcd to you?"></a>
</div>
</body>
</html>
